.calendar__date {
    width: calc(100% / 7);
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    font-weight: bold;
    align-items: center;
    margin-bottom: 0.5em;
}

.calendar__month-switcher {
    font-size: 1.5em;
    padding-bottom: 0.2em;
    cursor: pointer;
    border-radius: 3px;
}

.calendar__month-switcher:hover {
    background-color: #eee;
}

.calendar__date--weekend {
    color: darkgrey;
}

.calendar__date--selected {
  background-color: #19323C;
  color: white;
  font-weight: bold;
}

.calendar__weekday {
    width: calc(100% / 7);
    height: 1.2em;
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__week {
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.calendar__wrapper {
    display: inline-block;
    width: 100%;
}
