.club-list {
    padding: 1em;

    &__header {
        font-weight: bold;
        padding-bottom: 0.8em;
        font-size: 1.1em;
    }

    &__see-more {
        margin-top: 0.7em;
        color: grey;
        cursor: pointer;
    }
}
