.event-card--mobile {
    margin-bottom: 1.5em;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.event-card--desktop {
    display: flex;
    border-radius: 0;
    flex-direction: row;
    margin-bottom: 2.5em;
}

.event-card--desktop .event-card__picture-wrapper {
    flex: 0 0 15em;
    width: 15em;
    height: 8em;
    border-radius: 0;
    overflow: hidden;
}

.event-card--desktop .event-card__picture {
    width: 100%;
    height: 100%;
}

.event-card--mobile .event-card__picture-wrapper {
    height: 6em;
    border-top-left-radius: 3px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    overflow: hidden;
}

.event-card--mobile .event-card__picture {
    width: 100% !important;
    border-radius: 0;
}

/* .event-card__picture {
    height: 6em;
    border-top-left-radius: 3px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
} */

.event-card__information {
    flex: 1 1 auto;
    text-align: left;
    padding: 0.5em 0.7em;
}

.event-card__name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 0.3em;
    font-size: 1.1em;
}

.event-card__club-name {
    color: grey;
}