.select {
    appearance: none;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border: 1px solid #ddd;
    font-size: 1em;
    padding: 0.35em 0.7em;

    &:focus {
        outline: 1px solid #ccc;
    }
}