.mobile-header {
  background-image: linear-gradient(darken(#1e97fa, 3%), lighten(#1e97fa, 10%));
  color: black;
  flex: 0 0 auto;
  width: 100%;

  &__header {
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sub-header {
    height: 1.7em;
    display: flex;
    position: relative;
    width: 100%;
  }

  &__calendar-button {
    border-radius: 50%;
    border: 1px solid black;
    height: 2.1em;
    width: 2.1em;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: black;
  }

  &__left {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    height: 100%;
  }

  &__right {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    height: 100%;
    justify-content: flex-end;
  }

  &__content {
    height: 100%;
    flex: 0 0 auto;
  }

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 1200px;
  }

  &__menu-icon {
    padding: 0.5em;
    font-size: 1.1em;
    text-align: center;
  }
}
