.calendar-day {
  width: calc(100% / 7);
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: visible;
  cursor: pointer;

  svg {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.3em;
    height: 2.8em;
    position: absolute;
  }

  &:hover {
    background-color: #264653;
  }

  &--weekend {
    color: darkgrey;
  }
}
