.calendar__date {
    width: calc(100% / 7);
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__date--weekend {
    color: darkgrey;
}

.calendar__date--selected {
    background-color: lightgray;;
}

.calendar__weekday {
    width: 30px;
    width: calc(100% / 7);
    height: 1.2em;
    text-align: center;
}

.calendar__week {
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.calendar__wrapper {
    display: inline-block;
    width: 100%;
}
