.footer {
  bottom: 0;
  display: flex;
  flex: 0 0 auto;
  height: 2em;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &__content {
    align-items: center;
    display: flex;
    font-size: 0.85em;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    white-space: nowrap;
    width: 100%;

    button {
      background: transparent;
      border: none;
      color: #888;
      cursor: pointer;
    }
  }
}
