.carousel {
    align-items: center;
    display: flex;
    height: 10em;
    justify-content: center;
    position: relative;
    width: 20em;

    &__overlay {
        align-items: center;
        background-color: transparent;
        bottom: 0;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 20%;
        cursor: pointer;
    }

    &__icon-background {
        align-items: center;
        background-color: rgba(0,0,0,0.2);
        border-radius: 50%;
        display: flex;
        height: 1.5em;
        justify-content: center;
        width: 1.5em;
    }

    &__overlay--left {
        left: 0;

        &:hover {
            background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.2));
        }
    }

    &__overlay--right {
        right: 0;

        &:hover {
            background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.2));
        }
    }
}