.data-policy-page {
    padding: 1em;
    overflow-y: auto;
    height: 100%;
    line-height: 1.3;
}

.data-policy-page h1 {
    font-size: 1.4em;
    font-weight: bold;
}

.data-policy-page h2 {
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.data-policy-page h3 {
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}