.club-details {
    &__picture {
        max-width: 100%;
        height: auto;
        width: auto;
        display: block;
    }

    &__picture-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        padding: 0.5em;
        max-width: 80%;
    }

    &__picture-and-short-info {
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 800px) {
    .club-details__picture-and-short-info {
        flex-direction: row;
        justify-content: space-around;

        .club-details__picture-wrapper {
            width: 40%;
        }

        .key-value-fields {
            width: 60%;
        }

        .key-value-field {
            width: 50%;
        }
    }
}