@media only screen and (min-width: 800px) {
    .header {
        display: none;
    }
}
.header {
    background-color: #264653;
    flex: 0 0 auto;
    height: 2.5em;
    width: 100%;
    position: relative;

    &__content {
        align-items: center;
        color: white;
        display: flex;;
        height: 100%;
        margin: 0 auto;
        max-width: 1200px;
        padding-left: 1em;
    }

    &__menu-icon {
        padding: 0.5em;
        font-size: 1.3em;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        &:hover {
            background-color: black;
        }
    }
}
